body {
  background-color: #f0f0f0;
}

header {
  background-color: #412415;
  color: yellow;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 30px;

}

img {
  height: inherit;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ede1d5;
}

.container {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .items-container,
  .name,
  .payment-details {
    background-color: #ede1d5;
    border: 2px solid #89592d;
    border-radius: 10px;
    padding: 20px;
  }
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  display: flex;
}

.line-item {
  font-size: small;
}

.btn {
  background-color: #deb992;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .total {
    gap: 20px;
  }
}