header {
  background-color: brown;
  color: yellow;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .item {

}

.line-item {

} */