header {
  background-color: brown;
  color: yellow;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

/* .page-container {
  
}

.items {

}

.item {

}

.line-item {

} */